{% extends "bootstrap.html" %}
{% set active_page = "input_display" %}

{% block content %}

<!-- <h1>Late Night Food Options</h1>

<p class="lead">Here are the late night food options:</p>

<ul>
{% for biz in businesses %}
  <li> Result: {{biz["name"]}} -- {{ biz["location"] }} -- {{ biz["rating"] }} -- {{ biz["price"]}} </li>
{% endfor %}
</ul> -->

<h1>Late Night Food Options</h1>

<p class="lead">Here are the late night food options:</p>

<div class="row">
    {% for biz in businesses %}
        <div class="col">
            <div class="card" style="width: 18rem; margin-bottom: 20px;">
                <img src="{{ biz.image_url}}" class="card-img-top"  alt="an image of the business">

                <div class="card-body">
                    <h5 class="card-title">{{ biz.name}}</h5>
                    <p class="card-text">Rating: {{ biz.rating }}</p>
                    <p class="card-text">Location: 
                        {% for item in biz.location.display_address %}
                            {{ item }}
                    {% endfor %} </p>
                    <p class="card-text">Price: {{ biz.price }}</p>
                    
                    <ul class="list-group list-group-flush">
                        {% for rev in biz.reviews %}
                            <li class="list-group-item"> Review: {{rev}} </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    {% endfor %}
</div>     
{% endblock %}





